<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}

    <div style="display:none" id="domainName">{{req.userDomain}}</div> const domainUrl = document.getElementById('domainName').innerText;
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
  <script src='/javascripts/script.js'></script>
  
</html>
