<h2>Extra info</h2>
<div>
  <p>Username: {{this.username}}</p>
  <p>Specialty: {{this.specialty}}</p>
  <p>Role: {{this.role}}</p>
  <p>Coins: {{this.coins}}</p>
</div>

<form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>