<form action="/scout/user-list" method="get" id="form-container">
  <label>Specialty: </label>
    <select name="specialty" value="{{specialty}}">
        <option value="">All</option>
        <option value="Null">Null</option>
        <option value="Composer">Composer</option>
        <option value="Designer">Designer</option>
        <option value="Programmer">Programmer</option>
        <option value="Voice-Actor">Voice-Actor</option>
    </select>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <button>Scout!</button>
</form>